.header {
  background-color: antiquewhite;
}

ul.horizontal {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #f1f1f1;
}

ul.horizontal li a {
  display: inline-flex;
  /* color: white; */
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li {
  display: list-item;
  text-align: -webkit-match-parent;
  float: left;
}

ul.ex {
  width: 100%;
}

li.active {
  background-color: #6dff4f;
  color: white;
}
